<div id="app">
    <h1 id="productId">Details of the product with the ID
        {{product._id}}</h1>
    <div id="productDetail" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
        <div id="product-{{product._id}}" class="max-w-sm border rounded-lg shadow bg-gray-800 border-gray-700 m-1">
            <div>
                {{#each product.thumbnails}}
                <img src="http://localhost:8080/{{this}}" alt="product image" />
                {{/each}}
            </div>
            <div>
                <h5 id="title">{{product.title}}</h5>
                <p>Description:
                    {{product.description}}</p>
                <p>Category:
                    {{product.category}}</p>
                <p>Available stock:
                    {{product.stock}}</p>
                <p>Product code:
                    {{product.code}}</p>

                    <div>
                        <p>${{product.price}}</p>
                        <button id="botonForm">Add to Cart 🛒</button>
                    </div>
                    <div>
                        <input placeholder=" " type="text" name="cid" id="cid" required />
                        <label for="cid">Cart ID</label>
                    </div>
           
            </div>
        </div>
    </div>
</div>
<script src="
https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.all.min.js
"></script>
<script src="/js/product.js"></script>
{{!-- <div class="w-auto mx-2">
    <br />
    <hr /><br />
</div>
<div class="flex justify-between w-auto m-2 bg-gray-800 px-8 py-8 rounded-xl">
    <h3 class="flex p-2 justify-center font-mono text-lg text-slate-200">Go back
        to the homepage:</h3>
    <a href="/">
        <button
            class="text-slate-100 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center mr-2">Take
            me home! 🏚️</button>
    </a>
</div>
<div class="w-auto mx-2">
    <br />
    <hr /><br />
</div> --}}
{{!-- <div class="flex justify-between w-auto m-2 bg-gray-800 px-8 py-8 rounded-xl">
    <h3 class="flex p-2 justify-center font-mono text-lg text-slate-200">Check
        our work with Socket.io, MongoDB and Mongoose:</h3>
    <a href="/realTimeProducts">
        <button
            class="text-slate-100 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center mr-2">Go
            to Real Time section! 🛩️</button>
    </a>
</div>
<div class="w-auto mx-2">
    <br />
    <hr /><br />
</div> --}}
{{!-- <div class="flex justify-between w-auto m-2 bg-gray-800 px-8 py-8 rounded-xl">
    <h3 class="flex p-2 justify-center font-mono text-lg text-slate-200">Chat
        with us:</h3>
    <a href="/chat">
        <button
            class="text-slate-100 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center mr-2">Go
            to chat section! 💬</button>
    </a>
</div> --}}