<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">SuperHiperMegaMercado</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="products"><button>Home</button></a>
        </li>
      </ul>
          <div><a href="/profile"><button>Profile</button></a></div>
      <div><a href="/admin"><button>User administration</button></a></div>
      <div><a href="cart/{{user.cart}}"><button>Show cart</button></a></div>
      {{!-- {{#if valor}}
         <div><a href="/form-products"><button>Product form</button></a></div>
      {{/if}} --}}
      
       
      <div><button id="logout">Log out</button></div>
    </div>
  </div>
</nav>
<div class="p-4 h-auto">

  <h1 class="text-center my-8 font-mono text-xl text-slate-200">Your Profile</h1>
  <div class="flex justify-center flex-col md:flex-row gap-8">
    <div
      class="flex flex-col justify-center items-center max-w-md border rounded-lg shadow-lg bg-gray-900 border-gray-700 font-mono mx-auto w-full"
    >
      <div class="flex flex-col pb-3 my-5 w-64">
        <div class="flex justify-center items-center">
          {{#if profilePicture}}
          <img
            src="/{{profilePicture}}"
            alt="profile picture"
            class="w-24 h-24 m-2 ring-2 ring-slate-500 rounded-full my-4 object-cover"
          />
          {{else}}
          <svg width="200" height="200" viewBox="0 0 10 10">
              <path
                fill-rule="evenodd"
                d="M5 4a2 2 0 100-4 2 2 0 000 4zm-4 4a4 3.5 0 118 0H2z"
                clip-rule="evenodd"
              ></path>
          </svg>

          {{/if}}
        </div>
        <h5
          class="mb-1 text-xl font-medium text-white tracking-widest"
        >{{user.name}}</h5>
        <span class="text-sm text-gray-500 dark:text-gray-400">Role:
          {{user.role}}</span>
        <span class="text-sm text-gray-500 dark:text-gray-400">Email:
          {{user.email}}</span>
        <span class="text-sm text-gray-500 dark:text-gray-400">Age:
          {{user.age}}</span>
        <span class="text-sm text-gray-500 dark:text-gray-400">Cart ID:
          {{user.cart}}</span>
        <span class="hidden" id="userId">{{user.cart}}</span>
      </div>
      <div class="flex">
        <form id="addProfilePictureForm" enctype="multipart/form-data">
          <div class="w-full max-w-xs mb-6">
            <label
              class="text-slate-100 bg-blue-600 hover:bg-blue-700 active:bg-blue-900 focus:ring-2 focus:outline-none focus:ring-blue-700 font-medium rounded-lg text-sm backdrop:w-auto px-5 py-2.5 text-center mr-2 cursor-pointer"
              for="profile"
            >Profile picture</label>
            <input class="hidden" type="file" id="profile" name="profile" />
          </div>
        </form>

        <form id="updateProfilePictureForm" enctype="multipart/form-data">
          <div class="w-full max-w-xs mb-6">
            <label
              class="text-slate-100 bg-blue-600 hover:bg-blue-700 active:bg-blue-900 focus:ring-2 focus:outline-none focus:ring-blue-700 font-medium rounded-lg text-sm backdrop:w-auto px-5 py-2.5 text-center mr-2 cursor-pointer"
              for="profile"
            >Profile picture update</label>
            <input class="hidden" type="file" id="profile" name="profile" />
          </div>
        </form>
        <form id="changeRoleForm">
          <div class="w-full max-w-xs mb-6">
            <button
              class="text-slate-100 bg-blue-600 hover:bg-blue-700 active:bg-blue-900 focus:ring-2 focus:outline-none focus:ring-blue-700 font-medium rounded-lg text-sm backdrop:w-auto px-5 py-[0.55rem] text-center mr-2 -mt-2 {{#compare user.role "===" "admin"}}disabled:bg-slate-500 line-through{{/compare}}"
              {{#compare user.role "===" "admin"}}disabled{{/compare}}
            >Change role</button>
          </div>
        </form>
      </div>
    </div>
    <form
      id="addDocumentsForm"
      enctype="multipart/form-data"
      class="m-auto w-full max-w-md bg-gray-700/50 border-gray-70 px-8 py-4 rounded-xl {{#compare user.role "===" "admin"}}hidden{{/compare}}"
    >
      <h3
        class="flex p-2 justify-center font-mono text-lg text-slate-200"
      >Upload user documentation:</h3>
      <div class="relative z-0 w-full mb-6 group -mt-1">
        <label
          class="block mb-2 text-sm text-slate-200"
          for="identification"
        >Identification</label>
        <input
          class="block w-full text-sm border rounded-lg cursor-pointer text-gray-400 focus:outline-none bg-gray-700 border-gray-600"
          type="file"
          id="identification"
          name="identification"
        />

      </div>
      <div class="relative z-0 w-full mb-6 group -mt-1">
        <label class="block mb-2 text-sm text-slate-200" for="address">Proof of
          address</label>
        <input
          class="block w-full text-sm border rounded-lg cursor-pointer text-gray-400 focus:outline-none bg-gray-700 border-gray-600"
          type="file"
          id="address"
          name="address"
        />

      </div>
      <div class="relative z-0 w-full mb-6 group -mt-1">
        <label
          class="block mb-2 text-sm text-slate-200"
          for="statement"
        >Statement of account</label>
        <input
          class="block w-full text-sm border rounded-lg cursor-pointer text-gray-400 focus:outline-none bg-gray-700 border-gray-600"
          type="file"
          id="statement"
          name="statement"
        />

      </div>
      <div class="grid grid-cols-2">
        <button
          type="submit"
          class="text-slate-100 bg-blue-600 hover:bg-blue-700 active:bg-blue-900 focus:ring-2 focus:outline-none focus:ring-blue-700 font-medium rounded-lg text-sm backdrop:w-auto px-5 py-2.5 text-center mr-2"
        >Submit! 🖥️</button>
        <button
          type="reset"
          class="text-slate-100 bg-blue-600 hover:bg-blue-700 active:bg-blue-900 focus:ring-2 focus:outline-none focus:ring-blue-700 font-medium rounded-lg text-sm w-auto px-8 py-2.5 text-center ml-2"
        >Reset</button>
        <button
          class="text-slate-100 bg-emerald-600 hover:bg-emerald-700 active:bg-emerald-900 focus:ring-2 focus:outline-none focus:ring-emerald-700 font-medium rounded-lg text-sm w-auto px-8 py-2.5 my-4 text-center col-span-2"
          id="checkDocumentation"
        >Check documentation</button>
      </div>
    </form>
  </div>
</div>
<script
  src="
https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.all.min.js
"
></script>
<script src="/js/profile.js" type="module"></script>